<header>

  <!--------TOP HEADER-------->

  <div class="right-header">
    <div class="user-image">
      <p>{{username}}</p>
      <button (click)="logout()">LOG OUT</button>
    </div>
    <!--<div class="messages">
	    	<img src="message1.jpg">
	    	<img src="message1.jpg">
	    </div>-->
  </div>
</header>



<div class="left-side-dashboard">
  <div class="left-side">
    <div class="logo">Placement Prep</div>
    <div class="links">
      <a routerLink="/masteradmindashboard">Dashboard</a>
      <hr />
      <a routerLink="/addAdmin">Add Admins</a>
      <hr />
      <a routerLink="/addExam">Add Exams</a>
      <hr />
      <a routerLink="/addCourse">Add Lecture</a>
      <hr />
      <a routerLink="/addQuestion">Add Questions</a>
      <hr />
      <!--<a routerLink="/addCourse">Add Course</a><br><hr>-->
      <a routerLink="/searchPage">Search</a>
      <hr />
      <a routerLink="/viewUser">View Users</a>
      <hr />
      <a routerLink="/viewAdmin">View Admin</a>
      <hr />
    </div>
  </div>
</div>

<div class="addLecture-form" id="addLecture">
  <h3>Add Lecture</h3>
  <br />
  <form #lectureRef="ngForm" (ngSubmit)="addLecture(lectureRef.value)">
    <select (change)="getId($event)" name="subject" ngModel>
      <option
        *ngFor="let subjectObj of subjects"
        value="{{ subjectObj.subject }}"
      >
        {{ subjectObj.subject }}
      </option>
    </select><br>

    <select name="chapter" ngModel>
      <option
        *ngFor="let chapterObj of chapters"
        value="{{ chapterObj.chapter }}"
      >
        {{ chapterObj.chapter }}
      </option>
    </select><br>

    <input
      type="file"
      name="video"
      placeholder="Upload Video"
      required
      (change)="selectFile($event)"
      ngModel
    /><br />

    <div class="button">
      <button type="submit" class="submit-Button">Submit</button>
    </div>
  </form>
</div>
